.workContainer {
  margin-bottom: 100px;
}

@media screen and (max-width: 880px) {
  .workContainer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .workContainer {
    padding: 0 20px;
  }
}
