.card {
  border-radius: 3px;
  width: 880px;
  display: flex;
  height: 440px;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  margin: auto;
}

.card + .card {
  margin-top: 30px;
}

.info {
  margin-left: auto;
  width: 400px;
  color: white;
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 60px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;
  margin: 0;
}

.date {
  margin: 0;
  font-size: 16px;
  opacity: 0.8;
}

.services {
  list-style: none;
  margin-top: 40px;
}

.services li {
  opacity: 0.8;
}

.services li + li {
  margin-top: 5px;
}

.tech {
  margin-top: auto;
  display: flex;
}

.techIcon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech img {
  height: 30px;
}

.images {
  display: flex;
  align-items: flex-start;
  padding: 0;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.images img {
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 0px 3.32378px 20.6857px rgba(0, 0, 0, 0.2);
}
