.intro {
  margin: 125px auto 94px;
  display: flex;
  box-sizing: border-box;
  width: 880px;
  max-width: 100%;
}

@media screen and (max-width: 850px) {
  .intro {
    margin-top: 20px;
  }
}

.br {
  border-bottom: 1px solid rgba(62, 62, 225, 0.12);
}


@media screen and (max-width: 880px) {
  .intro {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    padding: 0 20px;
  }
}

.longOne {
  width: 470px;
  font-size: calc(var(--smallBodySize) * 1.05);
  line-height: 1.6em;
  margin-left: auto;
  color: #3f4146;
  margin-top: 10px;
}

.longOne a {
  color: var(--linkColor);
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .longOne {
    margin: 20px auto;
    width: 100%;
  }
}

.longOne strong {
  color: #46474a;
  font-weight: 600;
}

.longOne p {
  margin-top: 0;
}

.longOne p + p {
  margin-top: 10px;
}

.shortOne {
  width: 40%;
  max-width: 100%;
}

@media screen and (max-width: 880px) {
  .shortOne {
    margin: 40px auto;
    width: 100%;
  }
}

.greeting {
  font-size: calc(var(--h1Size) * 1.2);
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--black);
}

.myTitle {
  font-style: normal;
  font-weight: 500;
  font-size: calc(var(--bigBodySize) * 1.1);
  line-height: 108.7%;
  margin-top: 5px;
  color: #6d7777;
  line-height: 1.3em;
}

@media screen and (max-width: 880px) {
  .myTitle br {
    display: none;
  }
}

.helloButton {
  color: var(--linkColor);
  font-size: 24px;
  background: none;
  border: 2px solid var(--linkColor);
  padding: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  height: 52px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
}

@media screen and (max-width: 700px) {
  .helloButton {
    height: 42px;
    font-size: 18px;
  }
}

.helloButton:hover {
  background: var(--linkColor);
  color: white;
}
