.nextProjectContainer {
  padding-bottom: 40px;
  width: 100%;
  flex-direction: column;
}

.nextProject {
  margin-left: -60px;
  margin: auto;
  height: 100px;
  font-size: 24px;
  font-style: italic;
  background: #68a5ec;
  color: white;
  padding: 0 40px;
  box-sizing: border-box;
}

.nextProjectInner {
  width: 1290px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .nextProject {
    font-size: 20px;
    text-align: center;
    padding: 0;
  }

  .nextProjectInner {
    justify-content: center;
  }
}

.nextProjectChildren {
  padding: 280px 0 0;
  transition: opacity 0.1s ease-in;
  height: 100vh;
  box-sizing: border-box;
  position: sticky;
  top: 100px;
}
