body,
html {
  margin: 0;
  padding: 0;
}

/* article */



.work {
  width: 1200px;
  max-width: 100%;
  margin: 30px auto 200px;
  padding: 40px 16px 0;
  box-sizing: border-box;
}

.work h1 {
  font-size: 42px;
  line-height: 44px;
  color: #282c35;
  letter-spacing: -0.03em;
  margin-bottom: 0;
  margin-top: -20px;
}



.container {
  display: flex;
  margin: auto;
  max-width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .inner {
    padding-left: 24px;
    margin-left: 10px;
  }

  .work h1 {
    margin-left: 10px;
  }
}

.inner p {
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  font-size: 21px;
  color: #3b4c56;
  margin-bottom: 40px;
  margin-top: 0px;
}

img {
  margin: 0;
  vertical-align: middle;
}

.work h1,
.work h2,
.work p {
}

.work h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 149.7%;
  color: #282c35;
  margin: 0;
  margin-top: -6px;
  margin-bottom: 47px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1090px;
  max-width: 100%;
  margin: auto;
  margin-top: -45px;
}

@media screen and (max-width: 1100px) {
  .images {
    justify-content: center;
  }
}

.imgContainer {
  margin: 45px 0;
  max-width: 100%;
  box-sizing: border-box;
  transition: transform 0.2s ease-in, background-color 0.25s ease-in, transform 0.25s cubic-bezier(0.37, 1.05, 1, 1), box-shadow 0.1s ease;
  border-radius: 3px;
  transform: translateY(80px);
}

@media screen and (max-width: 1100px) {
  .imgContainer {
    margin: 25px 0;
  }
}

.imgContainer img,
.imgContainer video {
  transition: background-color 0.3s ease-in, transform 0.4s cubic-bezier(0.37, 1.05, 1, 1), opacity 0.2s ease-in;
  opacity: 0.8;
  border-radius: 3px;
  max-width: 100%;
  box-shadow: 0px 7px 19px rgba(0, 0, 0, 0.05), 0px 3px 9px rgba(0, 0, 0, 0.06);
}

.imgContainerAnim img {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.imgContainer:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 14px 0 rgba(97, 88, 97, 0.05);
}

.imgContainer:hover img {
  transform: scale(1.021);
}

.imgContainerAnim {
  transform: translateY(0);
}

.nextProject {
  padding: 100px 0;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  height: 400px;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 80px;
}

.topContainer {
  display: flex;
  margin-left: -60px;
}

.inner {
  margin-top: 24px;
  box-sizing: border-box;
  padding-bottom: 120px;
  max-width: 633px
}

.topInfo {
  width: 100%;
  margin: auto;
  margin-left: 100px;
}

@media screen and (max-width: 1100px) {
  .topInfo {
    width: 600px;
    max-width: 100%;
  }
}

.websiteLink {
  color: #0079ff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  background: url("./link-arrow.svg") right 12px center no-repeat;
  padding-right: 38px;
  transition: background-position cubic-bezier(0.39, 0.58, 0.57, 1) 0.07s;
  margin-top: 47px;
}

.websiteLink:hover {
  background-position: right 8px center;
}