/* article */

.work {
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-top: 50px;
}

@media screen and (min-width: 1300px) {
  .work {
    padding: 100px 0 0;
  }
}

.workTitle {
  font-size: calc(var(--h1Size) * 1.3);
  line-height: 1.05em;
  color: #282c35;
  letter-spacing: -0.01em;
  margin-bottom: 0;
  margin-top: -12px;
  font-weight: 600;
}

.work hgroup {
  position: relative;
}

.container {
  display: flex;
  margin: auto;
  max-width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
}

.inner p {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  font-size: calc(var(--smallBodySize) * 1.15);
  color: #3b4c56;
  margin-bottom: 40px;
  margin-top: 0px;
}

.work img {
  margin: 0;
  vertical-align: middle;
}

@keyframes workInfoAnim {
  0% {
    opacity: 0.1;
    transform: translateY(80px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.workInfo {
  padding-top: 25px;
  opacity: 0;
}

.withAnim .workInfo {
  animation: workInfoAnim 0.35s cubic-bezier(0.37, 1.05, 1, 1);
  animation-fill-mode: forwards;
}

.workWrapper h2 {
  font-size: var(--bigBodySize);
  font-weight: 500;
  line-height: 149.7%;
  color: #282c35;
  margin: 0;
  margin-top: -6px;
  margin-bottom: 47px;
}

@keyframes workImagesAnim {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.workImages {
  background: rgba(148, 151, 158, 0.1);
  margin-top: 80px;
  opacity: 0;
  min-height: 600px;
}

.withAnim .workImages {
  animation: workImagesAnim 0.38s cubic-bezier(0.37, 1.05, 1, 1) 0.55s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 600px) {
  .workImages {
    background: none;
  }
}

@media screen and (max-width: 600px) {
  .work h2 {
    margin-bottom: 20px;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1090px;
  max-width: 100%;
  margin: auto;
  margin-top: 0px;
  position: relative;
  top: -80px;
}

@media screen and (max-width: 1100px) {
  .images {
    justify-content: center;
    top: -24px;
  }
}

.imgContainer {
  margin: 25px 0;
  max-width: 100%;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in, transform 0.25s cubic-bezier(0.37, 1.05, 1, 1), box-shadow 0.1s ease;
  border-radius: 3px;
  transform: translateY(80px);
}

@media screen and (max-width: 1100px) {
  .imgContainer {
    margin: 0 0;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 600px) {
  .imgContainer {
    margin: 0 0;
    padding: 4px 0px;
  }
}

.imgContainer img,
.imgContainer video {
  transition: background-color 0.3s ease-in, transform 0.4s cubic-bezier(0.37, 1.05, 1, 1), opacity 0.2s ease-in;
  opacity: 0.8;
  border-radius: 3px;
  max-width: 100%;
  box-shadow: 0px 1px 19px rgba(0, 0, 0, 0.05), 0px 1px 9px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 600px) {
  .imgContainer img,
  .imgContainer video {
    margin: 0 0;
    border-radius: 3px;
  }
}

.imgContainerAnim img {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.imgContainer:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 14px 0 rgba(97, 88, 97, 0.05);
}

.imgContainer:hover img {
  transform: scale(1.021);
}

.imgContainerAnim {
  transform: translateY(0);
}

.topContainer {
  display: flex;
  margin-left: -60px;
  width: 1290px;
  max-width: 100%;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .topContainer {
    padding: 0 90px 0 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 600px) {
  .topContainer {
    padding: 0 22px 0 22px;
    box-sizing: border-box;
  }
}

.inner {
  margin-top: 21px;
  box-sizing: border-box;
  padding-bottom: 80px;
  max-width: 740px;
}

@media screen and (max-width: 1100px) {
  .inner {
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 50px;
  }

  .work h1 {
    margin-left: 0;
    margin-top: -22px;
  }
}

@media screen and (max-width: 600px) {
  .inner {
    margin-top: 10px;
  }

  .work h2 {
    margin-bottom: 20px;
  }
}

.topInfo {
  width: 100%;
  margin: auto;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 1100px) {
  .topInfo {
    margin-right: 0;
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .topInfo {
    margin-left: 0;
  }
}

.websiteLink {
  color: #0079ff;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  background: url("/link-arrow.svg") right 12px center no-repeat;
  padding-right: 38px;
  transition: background-position cubic-bezier(0.39, 0.58, 0.57, 1) 0.07s;
  margin-top: 47px;
}

.websiteLink:hover {
  background-position: right 8px center;
}
