.container {
  display: flex;
}

/* article */

.article {
  width: 1200px;
  max-width: 100%;
  margin: 100px auto 200px;
  padding: 0 16px;
  box-sizing: border-box;
}

.article h1 {
  font-size: 40px;
  line-height: 44px;
  color: #242121;
  letter-spacing: -0.03em;
  margin-bottom: 10px;
}

.inner p {
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  font-size: 20px;
  color: #3b4c56;
  width: 60%;
}

img {
  margin: 0;
  vertical-align: middle;
}

.article h1,
.article h2,
.article p {
}

.imgContainer {
  width: 100%;
  margin: 70px 0;
  padding: 30px;
  background: rgb(240, 235, 240);
  box-sizing: border-box;
  transition: transform 0.2s ease-in, background-color 0.25s ease-in, transform 0.25s cubic-bezier(0.37, 1.05, 1, 1), box-shadow 0.1s ease;
  border-radius: 3px;
  transform: translateY(80px);
  box-shadow: 0px 10px 105px -11px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1300px) {
  .imgContainer {
    width: 100%;
    margin: 30px 0;
    padding: 1px;
  }
}

.imgContainer img {
  transition: background-color 0.3s ease-in, transform 0.4s cubic-bezier(0.37, 1.05, 1, 1), opacity 0.2s ease-in;
  transform: scale(1.03) rotate(-0.08deg);
  opacity: 0.8;
  border-radius: 3px;
}

.imgContainerAnim img {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.imgContainer:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 14px 0 rgba(97, 88, 97, 0.05);
}

.imgContainer:hover img {
  transform: scale(1.021);
}

.imgContainerAnim {
  transform: translateY(0);
}

.imgContainer img {
  box-shadow: 0px 10px 105px -11px rgba(0, 0, 0, 0.15);
  width: 100%;
}
