/* sidebar */

.sidebar {
  margin-top: -60px;
  min-width: 220px;
}

.section + .section {
  margin-top: 46px;
}

.techs img:first-of-type {
  margin-left: -4px;
}

.techs img {
  margin-right: 3px;
}

.title {
  color: #9699a3;
  font-size: 18px;
  margin-bottom: 5px;
  opacity: 0.9;
}

.item {
  color: #37383c;
  font-size: 18px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 4px;
  white-space: nowrap;
}

.item a {
  color: #0079ff;
  font-weight: 500;
  text-decoration: none;
  background: url("./link-arrow.svg") right 12px center no-repeat;
  padding-right: 38px;
  transition: background-position cubic-bezier(0.39, 0.58, 0.57, 1) 0.07s;
}

.item a:hover {
  background-position: right 8px center;
}

.sidebar ul {
  padding-left: 0;
  margin: 0;
}
